[package]
name = "reader-sync"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dotenvy = "0.15.7"
ureq = { version = "2.9.4", features = ["gzip", "json", "tls"]}
