name: Release

on:
  push:
    branches: [master]

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, 'chore(release):')"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: dtolnay/rust-toolchain@631a55b12751854ce901bb631d5902ceb48146f7 # stable

      - name: Install mold linker
        run: sudo apt-get install -y mold

      - name: Install cargo-edit
        uses: taiki-e/install-action@2723513a70062521fb56e5df87a04967751efd2f # v2
        with:
          tool: cargo-edit

      - name: Install git-cliff
        uses: taiki-e/install-action@2723513a70062521fb56e5df87a04967751efd2f # v2
        with:
          tool: git-cliff

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "lts/*"

      - name: Install semantic-release dependencies
        run: |
          npm install -g \
            semantic-release \
            @semantic-release/commit-analyzer \
            @semantic-release/release-notes-generator \
            @semantic-release/exec \
            @semantic-release/git \
            @semantic-release/github \
            @semantic-release-cargo/semantic-release-cargo

      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: npx semantic-release
